body{
  font-family: courier;
}


h1, h2, h3, h4, h5{
  font-family:courier;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
  opacity: .7;
  color: #F0FFFF;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
  position: fixed;
  width: 100%;
  animation-name: shrink_return;
  animation-duration: .5s;
}

@keyframes shrink_return{
  from{opacity: 1}
  to{opacity: .7}
}

.navbar.shrink{
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
  opacity: 1;
  color: #F0FFFF;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
  position: fixed;
  width: 100%;
  animation-name: shrink;
  animation-duration: .5s;
}

@keyframes shrink{
  from{opacity: .7}
  to{opacity: 1}
}

.navbar-brand{
  padding: 0px;
  margin: 0px;
  vertical-align:top;
  float: left;
  display:inline-block;

}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a: focus, .navbar-inverse .navbar-nav .active a: hover{
  color: #FFF;
  background-color: : #000000;
  opacity: 1;
}
.navbar-inverse .navbar-nav li a {
  color: #D5D5D5
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  font-family:courier;
}
.btn{
  font-size: 18px;
  color: #000000;
  padding: 8px 22px;
  background: #D5D5D5;
  border: 2px solid #FFF;
  font-family:courier;
}

.container{
  margin: 4% auto;
  font-family:courier
}
.container_overlay{
  margin: 4% auto;
  font-family:courier;
  position: relative;
  width: 100%;
  height: 80px;
  color: #8c8c8c
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container_overlay:hover h1{
  color: white;
  opacity: 1;
  text-decoration: none;
}
.container_overlay:hover h2{
  color: white;
  opacity: 1;
  text-decoration: none;
}
.container_overlay:hover h3{
  color: white;
  opacity: 1;
  text-decoration: none;
}
.container_overlay:hover h4{
  color: white;
  opacity: 1;
  text-decoration: none;
}

.container_overlay:hover .overlay {
  opacity: .1;
  text-decoration: none;
  cursor: pointer;
}


a.ex1:hover, a.ex1:active {
  color: white;
  opacity: 1;
  text-decoration: none;
}


#icon {
  max-width: 200px;
  margin: 1% auto;
}
footer{
  width: 100%;
  background-color: #000000;
  color: #F0FFFF;
  padding: 1% 0;
  font-family:courier;

}
.fa{
  padding: 20px;
  font-size: 30px;
  color: #FFF;
}

.fa:hover {
  color: #D5D5D5;
  text-decoration: none;
}

#portfolio{
  background-color : #333333;
  color: #F0FFFF;;
}

@media (max-width: 600px){
  .carousel-caption {
    top: 25%;
  }
  #icon{
    max-width: 150px;
  }
  h4{
    font-size: 90%;
  }
}



.button{
  background: coral;
  padding:1em 2em;
  color: #FFF;
  border:0;
}

.button:hover{
  background: #333;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.5);
}

.modal-content{
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,.2), 0 7px 20px 0 rgba(0,0,0,.2);
  animation-name: modalopen;
  animation-duration:.5s;
}

.modal-header h2, .modal-footer h3{
  margin: 0;
}
.modal-header{
  background:#000000;
  padding:15px;
  color:#FFF;
}

.modal-body{
  padding:10px 20px;
  color: black
}

.modal-footer{
  background: #000000;
  padding: 10px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}

.modal-footer:hover,.modal-footer:focus{
  background: #D5D5D5;
  color: #000000;
  text-decoration: none;
}

.closeBtn{
  color:gray;
  float: right;
  font-size:30px;
}

.closeBtn:hover,.closeBtn:focus{
  color:white;
  text-decoration: none;
  cursor:pointer;
}

@keyframes modalopen{
  from{opacity: 0}
  to{opacity: 1}
}

.devicon-python-plain {
  font-size: 2rem
}

.layer {
    background-color: rgba(34, 34, 34, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}